html * {
max-height:1000000px;
}

body {
background-color: #fff;
font-family: "Libre Franklin","Helvetica Neue",helvetica,arial,sans-serif;
font-size: 100%;
line-height: 1.63;
color: rgb(37, 37, 37);
-webkit-text-size-adjust: none;
-moz-text-size-adjust: none;
-ms-text-size-adjust: none;
margin:0;
}

.bodydiv{
background-color: #fff;
}

.modechange {
background-color: #004488;
display: flex;
align-items: center;
justify-content: center;
font-size: 2em;
font-weight:100;
letter-spacing: 0.115em;
height:2.5em;
box-shadow: 0 2px 5px 0 rgba(14,30,37,.12);
}

.modechange a {
font-family:"Hiragino Kaku Gothic Pro";
margin: 0;
padding:1em 0.5em;
color: rgb(255, 255, 255);
font-size:1.1em;
font-weight:100;
letter-spacing: 0.115em;
transition: 0.25s;
}

.modechange a:hover {
background-color: #fff;
font-weight:500;
text-decoration:none;
}

.brush {
height: 12px;
border: 0;
box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
margin-top:0.7em;
margin-bottom: 30px;
}



#itazuranekomain {
z-index:-9999;
max-height:50vh;
margin-top:15vh;
margin-bottom:15vh;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

#itazuraneko404 {
z-index:-9999;
width:700px;
margin-top:2vh;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

#itazuranekocat {
z-index:-9999;
max-height:50vh;
margin-top:5vh;
margin-bottom:10vh;
}

img {
display:block;
margin-left:auto;
margin-right:auto;
max-width:100%;
}

a {
color: rgb(72, 69, 69);
text-decoration:none;
}

a:hover {
color: rgb(28, 28, 28);
text-decoration:underline rgb(28, 28, 28);
}

#top {
margin-top: -285px; 
padding-top: 285px; 
display: inline-block;
}

.outer-grid2 ul{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 1em;
font-size:0.9em;
word-break: break-all;
}
@media screen and (min-width: 1200px) {
.outer-grid2 ul{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 1em;
margin: 1em;
}
}
@media screen and (min-width: 1600px) {
.outer-grid2 ul{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 1em;
margin: 1em;
}
}
@media screen and (max-width: 750px) {
.outer-grid2 ul{
display: grid;
grid-template-columns: 1fr;
grid-gap: 1em;
margin: 1em;
}
}

#outer-grid {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 3em;
margin: 2em;
}

@media screen and (min-width: 1200px) {
#outer-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 3em;
margin: 2em;
}
}
@media screen and (min-width: 1600px) {
#outer-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 3em;
margin: 2em;
}
}
@media screen and (max-width: 750px) {
#outer-grid {
display: grid;
grid-template-columns: 1fr;
grid-gap: 3em;
margin: 2em;
}
}
#outer-grid > div {
background-color: #fff;
font-size: 1em;
padding: 10px;
box-shadow: 0 2px 5px 0 rgba(14,30,37,.12);
border-radius: 8px;
}


#outer-grid p a{
color: rgb(72, 69, 69);
font-size: 1.2em;
font-weight:600;
}

.spacer {
margin-top:6em;
display: flex;
align-items: center;
justify-content: center;
}


ul {
list-style: none;
}


.subjectlinks {
display: flex;
align-items: center;
justify-content: center;
}

.subjectlinks a {
margin: 0;
padding: 0.5em;
color: rgb(72, 69, 69);
font-size: 1em;
font-weight:600;
}

@media screen and (max-width: 750px) {
.subjectlinks {
font-size: 2.3vw;
}
}

.outer-gallery {
display: grid;
align-items: center;
grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}

.gallery {
display: grid;
grid-template-columns: 155px 1fr 1fr 1fr;
grid-template-areas:
"pubdate . epub html"
"cover title title title"
"cover author author author"
"cover publisher publisher publisher"
"cover series series series"
"genre genre genre genre";
margin:2em;
height:auto;
background-color: #fff;
padding: 10px;
box-shadow: 0 2px 5px 0 rgba(14,30,37,.12);
border-radius: 8px;
}

.gallery a {
display:inline-block;
box-shadow: 0 2px 2px 0 rgba(14,30,37,.12);
border-radius: 2px;
transition: 0.22s;
margin: 5px;
padding:2px;
}

.gallery a:hover {
background-color: #97c9fb;
text-decoration:none;
box-shadow:inset 0 2px 2px 0 rgba(14,30,37,.12);
}

.item-1 {
grid-area: cover;
height:220px;
width:155px;
margin-bottom:4px;
}
.item-1 a {
background-color: #f8f8f8;
margin: 0;
padding:0;
border:none;
}
.item-1 img {
grid-area: cover;
height:218px;
width:153px;
}
.item-2 {
grid-area: title;
font-size: 0.9em;
margin-left:0.6em;
margin-bottom:0.6em;
}
.item-3 {
grid-area: author;
font-size: 0.85em;
margin-left:0.6em;
margin-bottom:0.6em;
}
.item-4 {
grid-area: publisher;
font-size: 0.75em;
margin-left:0.6em;
}
.item-5 {
grid-area: pubdate;
font-size: 0.75em;
margin-left:0.6em;
}
.item-6 {
grid-area: epub;
text-decoration:underline;
font-size: 0.75em;
text-align: right;
}
.item-7 {
grid-area: html;
text-decoration:underline;
font-size: 0.75em;
text-align: right;
}
.item-8 {
grid-area: genre;
font-size: 0.75em;
}
.item-9 {
grid-area: series;
font-size: 0.75em;
}
.pagination {
margin-top:1em;
width:100%;
display: flex;
align-items: center;
justify-content: center;
}
.pagination a {
margin: 0;
padding: 0.5em;
color: rgb(72, 69, 69);
font-size: 1em;
text-decoration:none;
}
.pagination a:hover{
margin: 0;
padding: 0.5em;
color: rgb(72, 69, 69);
font-size: 1em;
font-weight:600;
text-decoration:underline;
background-color: #f8f8f8;
}
#selected {
color: rgb(72, 69, 69);
font-size: 1.2em;
font-weight:600;
text-decoration:underline;
background-color: #fff;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
border-radius:2px;
}

#myTable {
width:95vw;
margin-left:auto;
margin-right:auto;
margin-top:2em;
text-align: left;
background-color: #fff;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}
#myTable tr:nth-child(even) {
background-color: #eefbf1a6;
}
#myTable tr:hover {
background-color: #ddd;
}
#myInput {
width:15em;
height:1.5em;
font-size:1.5em;
margin: 0;
display: flex;
align-items: center;
justify-content: center;
}
.frontpages a {
display:inline-block;
padding:3px 10px 3px 10px;
margin-left:2px;
margin-top:5px;
box-shadow: 0 2px 2px 0 rgba(14,30,37,.12);
border-radius: 2px;
transition: 0.12s;
}

.frontpages a:hover {
background-color: #97c9fb;
text-decoration:none;
box-shadow:inset 0 2px 2px 0 rgba(14,30,37,.12);
}
  
.themeheading {
margin-left:1em;
font-size:1.5em;
font-weight:600;
}

#bookmark {
position:absolute;
left:0px;
right:0px;
width:100%;
height:40px;
background-color: #54abffd4;
opacity:.8;
}


.introtext {
font-size:1.1em;
display: flex;
align-items: center;
justify-content: center;
margin:0 1em;
font-family:Palatino;
}

.tateread {
background-color: #fff;
writing-mode: vertical-rl;
font-size: 1.18em;
max-height:90vh;
margin-top:1.5em;
}

.tateread img{
max-height:90vh;
}

table.noveltitle tr:first-child {
font-size: 1.5em;
}
.noveltitle tr:nth-child(2) {
font-size: 1.1em;
}
.noveltitle tr:nth-child(3) {
font-size: 1.1em;
}
.noveltitle tr:nth-child(4) {
font-size: 1.1em;
}
table.noveltitle {
display: flex;
align-items: center;
justify-content: center;
margin:0 auto;
margin-top:2em;
font-family: "Meiryo";
}

.novelpage {
background-color: #fff;    
margin: 0 auto;
font-size: 1.18em;
max-width:52em;
}

.novelbody{
font-family: "Meiryo";
line-height: 1.8;
margin:0 2em;
word-wrap: break-word;
text-align: justify;
}

.novelbody a{
color:#0b00ff;
}

