body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  height: 100%;
  min-height: 100vh;
  padding: 20px;
  /* 设置最小高度为视口高度 */
}

.row {
  display: block; /* 改为块级元素，取消flex布局 */
  padding: 10px;
  border: 1px solid transparent; /* 默认无边框 */
}

.ja {
  font-family: 'Meiryo', 'MS PGothic', sans-serif; /* 设置日文字体 */
  font-size: 16px; /* 日文的字体大小 */
}

.zh {
  font-family: 'SimSun', 'Arial', sans-serif; /* 设置中文字体 */
  font-size: 16px; /* 中文的字体大小 */
}

.highlight {
  border: 1px solid black;
  /* 高亮显示的边框 */
  background-color: lightgrey;
  /* 高亮显示的背景色 */
}

/* 调整高亮样式以符合新的布局 */
.highlight .ja,
.highlight .zh {
  background-color: lightgrey;
}

.scroll-container {
  top: 50%;
  left: 0;
  right: 0;
}

.number {
  position: absolute;
  content: attr(data-index);
  top: 10px;
  right: 20px;
  background-color: rgba(37, 37, 37, 0.507);
  /* 半透明背景 */
  border-radius: 10px;
  color: rgb(255, 255, 255);
  z-index: 2;
}

.btn-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  /* 确保按钮在最上层 */
}

.btn {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
}

/* 夜间模式的样式 */
.dark-mode {
  background-color: #333;
  color: #f0f0f0;
}

.dark-mode .highlight {
  background-color: #555;
  border-color: #777;
}

.dark-mode .number {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(103, 16, 184);
}

/* 调整暗黑模式下的颜色设置 */
.dark-mode .highlight .ja,
.dark-mode .highlight .zh {
  background-color: #555;
}


/* 遮罩层样式 */
.mask {
  display: none;
  /* 默认隐藏遮罩层 */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 半透明背景 */
  z-index: 10;
}

/* 当遮罩层显示时，隐藏.zh中的内容 */
.show-mask .zh {
  visibility: hidden;
}

/* highlight类中的内容始终可见 */
.highlight .zh {
  visibility: visible !important;
}

.btn.active {
  background-color: #6a4caf; /* 激活状态的背景色 */
  color: white; /* 激活状态的文字颜色 */
}

.modal {
  display: none; /* 默认隐藏 */
  position: fixed; /* 固定位置 */
  z-index: 1001; /* 在按钮之上 */
  left: 0;
  top: 0;
  width: 100%; /* 全宽 */
  height: 100%; /* 全高 */
  overflow: auto; /* 如果需要滚动条 */
  background-color: rgb(0,0,0); /* 背景颜色 */
  background-color: rgba(0,0,0,0.4); /* 背景颜色，带透明度 */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% 从顶部和水平居中 */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 可以根据需要调整宽度 */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.guide {
  color: #000000;
}