/* 基本样式设置 */
body, html {
  font-family: Arial, sans-serif;
}

/* 容器样式 */
.container {
  position: relative;
}

/* 行与列布局样式 */
.row {
  display: block; /* 改为块级元素，取消flex布局 */
  padding: 10px;
  border: 1px solid transparent; /* 默认无边框 */
  position: relative; /* 添加这行代码 */
}

.ja {
  font-family: 'Meiryo', 'MS PGothic', sans-serif; /* 设置日文字体 */
  font-size: 20px; /* 日文的字体大小 */
}

.zh {
  font-family: 'Microsoft YaHei', 'Arial', sans-serif; /* 设置中文字体 */
  font-size: 20px; /* 中文的字体大小 */
}

.vertical-rtl {
  writing-mode: vertical-rl; /* 设置文本竖直书写，从右向左 */
  overflow: hidden; /* 隐藏溢出的内容 */
}

.vertical-rtl .row {
  display: flex; /* 继续使用flex布局 */
  flex-direction: column; /* 列排列 */
}

.vertical-rtl .ja, .vertical-rtl .zh {
  height: 90%;
  text-align: left; /* 文本靠左对齐 */
}

.number {
  position: absolute;
  content: attr(data-index);
  font-size: 12px;
  top: 10px;
  bottom: auto;
  right: 20px;
  background-color: rgba(172, 172, 172, 0.3);
  color: rgb(255, 255, 255);
  z-index: 2;
}

.vertical-rtl .number {
  top: auto;
  bottom: 20px;
}

.scroll-container {
  top: 50%;
  left: 0;
  right: 0;
}


/* 高亮 */
.highlight {
  border: 1px solid black; /* 高亮显示的边框 */
  border-radius: 15px;
}

/* 功能按钮 */
.btn-container {
  position: fixed; /* 保持固定位置 */
  top: 0;
  right: 0px;
  z-index: 1000; /* 高于大多数其他元素 */
  padding: 10px;
}

.btn {
  cursor: pointer;
  padding: 5px 5px;
  color: #000000;
  border: none;
  border-radius: 5px;
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.btn.active {
  background-color: #6a4caf; /* 激活状态的背景色 */
  color: rgb(255, 255, 255); /* 激活状态的文字颜色 */
}


/* 上下句按钮 */
.btn-prev, .btn-next {
  cursor: pointer;
  width: 100%;
  height: 15%;
  position: fixed; /* 固定位置 */
  left: 0; /* 左对齐 */
  right: 0; /* 右对齐 */
  background-color: #dbdbdb00;
  border: none;
  z-index: 100;
}

.btn-prev {
  top: 0; /* 顶部按钮 */
}

.btn-next {
  bottom: 0; /* 底部按钮 */
}


/* 夜间模式的样式 */
.dark-mode {
  background-color: #333;
  color: #f0f0f0;
}

.dark-mode .highlight {
  border-color: #777;
}

.dark-mode .number {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(131, 44, 212);
}

/* 遮罩层样式 */
.mask {
  display: none;
  /* 默认隐藏遮罩层 */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 半透明背景 */
  z-index: 5;
}

.show-mask .zh {
  visibility: hidden; /* 当遮罩层显示时，隐藏.zh中的内容 */
}

.highlight .zh {
  visibility: visible !important; /* highlight类中的内容始终可见 */
}


/* 导航框 */
.guide {
  color: #000000;
}

.modal {
  display: none; /* 默认隐藏 */
  position: fixed; /* 固定位置 */
  z-index: 10; /* 在上下按钮之下 */
  left: 0;
  top: 0;
  width: 100%; /* 全宽 */
  height: 100%; /* 全高 */
  overflow: auto; /* 如果需要滚动条 */
  background-color: rgb(0,0,0); /* 背景颜色 */
  background-color: rgba(0,0,0,0.4); /* 背景颜色，带透明度 */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% 从顶部和水平居中 */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* 可以根据需要调整宽度 */
}

.close {
  color: #aaa;
  float: right;
  font-size: 2em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* 图片查看框 */
#lightbox {
  display: none; /* 默认隐藏 */
  position: fixed; /* 固定位置 */
  top: 50%; /* 垂直居中 */
  left: 50%; /* 水平居中 */
  transform: translate(-50%, -50%); /* 修正位置偏移 */
  z-index: 9; /* 确保在最前面 */
}

.lightbox-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.lightbox-img {
  max-width: 70%;
}
